
<!DOCTYPE html>
    <head>
        {% block stylesheets %}   
            {% include "header.html.twig" %}
        {% endblock %}
    </head>
    <body>
        {% block nav %}
            {% include 'navbar.html.twig' %}
        {% endblock %}
        <header class="masthead" style="background-image: url('assets/img/admin.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Administration</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h1 class="comments-title">Commentaires en attente de validation</h1>
                    {% for rowComment in dataComment %}
                        <div class="be-comment">
                            <div class="be-img-comment">	
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="be-ava-comment">
                            </div>
                            <div class="be-comment-content">
                                <span class="be-comment-name">
                                    {{ rowComment.pseudo }}
                                </span>
                                <span class="be-comment-time">
                                    {{ rowComment.creationDate }}
                                </span>
                                <p class="be-comment-text">
                                    {{ rowComment.content }}
                                </p>
                                <div class="row">
                                    <div class="col-xl-2 col-md-6 col-sm-6">
                                        <form action="model/updateComment.php" method="post">
                                            <input type="hidden" name="idComment" value="{{ rowComment.id }}"/>
                                            <button type="submit" class="btn btn-success mb-5">Valider</button>
                                        </form>
                                    </div>
                                    <div class="col-xl-2 col-md-6 col-sm-6">
                                        <form action="model/deleteComment.php" method="post">
                                            <input type="hidden" name="idCommentDel" value="{{ rowComment.id }}"/>
                                            <button type="submit" class="btn btn-danger mb-5">Supprimer</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% block footer %}   
            {% include "footer.html.twig" %}
        {% endblock %}
    </body>
</html>
